{% extends "base.html" %}

{% load static %}


{% block title %}Web Scraper and Text Analysis Tool{% endblock %}
{%  block header %}Index {% endblock %}
{% block content %}
    <H1><a href="{% url 'word_count:search' %}"><b>Search</b></a>
    </H1>

    <H2>Previous Searches</H2>
    {% if target_list %}
        <ul>
        {% for target in target_list %}
            <li><a href="{% url 'word_count:details' target.id %}">{{ target.target_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No targets are listed.</p>
    {% endif %}
{% endblock %}
